@media (max-width: 1550px) {
    .sidebar-hidden {
        display: none !important;
    }

    .main-content {
        flex: 1;
    }

    .offcanvas-button {
        display: block !important;
    }

    .responsiveSidebar {
        display: block !important;
    }
}

.offcanvas-button {
    display: none;
}


.sidebar-hidden {
    display: block;
}

.responsiveSidebar {
    display: none;
}